@use '../../lib/service.scss' as s;

@use '../../component/purchase-heading/style.scss' as purchase-heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;

.main {
    display: flex;
    justify-content: center;
    padding: s.space(6) s.space(2);

    background-color: rgb(211, 245, 235);
    color: s.color(light);

    height: fit-content;
    min-height: 100%;

    &__content {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: s.space(15);
    }
}

.product-list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: s.space(5);
}